.wrapper{
  width: 60%;
  margin: 1rem auto;
  padding: 0 2rem;
}

.notes-area {
  margin-top: 2rem;
  display: block;
}

button {
  display: inline-block;
}

.note-container {
  margin-top: .7rem;
  width: 35rem;
  /* min-width: 85%; */
  display: flex;
  justify-content: space-between;
}

.note-container p {
  display: inline-block;
  width: 88%;
}

hr {
  margin: 3rem;
}

#note {
  display: inline-block;
  width: 90%
}

.add-to-list {
  margin-bottom: 2rem;
  width: 90%;
  margin: 2rem auto;
}