body {
  background: url(./imgs/bg.jpg);
  /*
  Photo by Diego Passadori https://unsplash.com/@dipassadori?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText 
  */
}
.wrapper{
  width: 60%;
  margin: 1rem auto;
  padding: 0 2rem;
  background-color: white;
}

h1 {
  width: 100%;
  text-align: center;
}
.notes-area {
  margin-top: 2rem;
  display: block;
  width: 100%;
}

button {
  display: inline-block;
}

.note-container {
  margin-top: .7rem;
  min-width: 85%;
  display: flex;
  justify-content: space-between;
}

.note-container p {
  display: inline-block;
  width: 88%;
}

.add-to-list {
  margin-bottom: 2rem;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

#note {
  display: inline-block;
  width: 75%
}

.addToList {
  margin-left: 1rem;
  min-width: 10%;
}